body{
	font-family: monospace;
	font-size: 13pt;
}
 
th{
	text-align: left;
}

.image-profile {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: blueviolet;
	border-width: 5px;
	display: inline-block;
	position: relative;
}
 
img{
	width: 100%;
	height: auto;
	position: absolute;
	top: -10px;
}
 
.container{
	border: 1px solid black;
	width: 60%;
	margin: 10px auto;
	padding: 20px;
}
 
.title{
	text-align: center;
    background: yellow;
}
 
.row{
	overflow: hidden;
}
 
.left{
	width: 20%;
	float: left;
}
 
.right{
	width: 70%;
	padding:0px 20px;	
	float: left;
}
 
@media only screen and (max-width: 768px) {
	.container{
		width: 100%;
		padding: 0px;
		border: none;
	}
	
	.left{
		width: 100%;
	}
 
	.right{
		width: 100%;
		padding: 0;
	}
}